.authenticationPage{
    .signUpPage{
        margin-top: 50px;
    }
    .subHead{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }

    input.form-control{
        border-radius: 30px;
        height: 44px;
        font-size: 14px;
        border: none;
    }

    .referralCode{
        font-size: 14px;
        margin-bottom: 0;
        span{
            

        }
    }
}




